html,
body{
  background-color: #ffffff;
}

/* Need to find way to format nicer */
#top10_space {
  padding: 0;
  margin: 0;
  background-color: #e6e7d1;
}

.website_header {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(100, 0, 200, 0.787);
  background-color: #c7c7c7;
  text-align: center;
}
#selDataset{
  font-size: 20px;
  font-weight: bold;
  color: rgba(100, 0, 200, 0.787);
}
.header1{
  font-size: 48px;
  font-weight: bold;
}
.header2{
  font-size: 32px;
  font-weight: bold;
}
.header3{
  font-size: 26px;
  font-weight: bold;
}
.header4{
  font-size: 20px;
  font-weight: bold;
}


/* Station Table Styling */
.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  background-color: rgba(106, 191, 106, 0.772);
  border: 1px solid;
  /* margin: 0 auto; */
}

/* Style for table headers */
.table th {
  font-size: 22px;
  background-color: #0aa214dd;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Style for table rows */
.table td {
  padding: 8px;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  text-align: center;
}

/* Style for alternating rows */
.table tr:nth-child(even) {
  background-color: rgba(215, 238, 215, 0.772);
}

/* Style for the stationInfo div */
#stationInfo {
  font-weight: bold;
  margin-top: 10px;
}

/* Style for the select dropdown */
#stationSelect {
  margin-top: 10px;
}

#stationTable, tr, td {
  border: 1px solid #333333;
} 

/* Styles for the heatmap and legend */
#heatmap_space {
  background-color: #baf3f7;
  position: relative;
}

#heatmap {
  width: 100%;
  height: 95vh; /* Adjust the height as needed */
}


#legend-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  /* Set a specific width height to keep text in container across monitor differences */
  width: 150px;
  height: 140px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

/* Style the individual legend items */
.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
}

.legend-label {
  font-size: 20px;
  color: #0c0c0c;
}

/* Add the following CSS for Masonry layout */
.masonry-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.masonry-item {
  width: calc(33.33% - 20px);
  margin: 10px;
  box-sizing: border-box;
}

/* Update header to span across the entire webpage */
.website_header {
  width: 100%;
}

/* Left side layout for heatmap and legend */
.left-column {
  width: 65%; /* Adjust as needed */
}

/* Right side layout for top10 and stationInfo */
.right-column {
  width: 32%; /* Adjust as needed */
}

/* Additional styles for the layout */
.top-right-subcolumn {
  margin-bottom: 20px;
}

.bottom-right-subcolumn {
  margin-top: 20px;
}

